.welcome{
	color:#00008B;
	font-size: 35px;
	margin-bottom: 10px;
	font-weight: bold;
	text-align:center;
	background-color: #f2f2f2;
}

.SortButton{
	margin-left: 5px;
	margin-right: 5px;
	background: #0000;
	border: 1px solid #999;
	font-size: 20px;
	font-weight: bold;
	text-align: center;
	width: 175px;
	background-color: #008CBA;
	color: white;

}

.sort-types{
	display: flex;
	justify-content: center;
	align-items: center;
}

.bar1{
	width: 28px;
}

.all-bars{
	display: flex;
	margin-top: 15px;
	justify-content: center;
	align-items: center;
}

* {background-color: #f2f2f2}